body{
    background: #000000;
    font-family: 'Righteous', cursive;
}
h1{
    padding: 50px 0;
    margin: auto;
    width: fit-content;
    color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .column {
    flex: 100%;
    max-width: 100%;
    /* padding: 20px; */
    margin: 2% auto;
    border: 1px solid #fff;
  }

  .column img {
    vertical-align: middle;
  }
  .container {
    position: relative;
    width: 100%;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(255, 255, 255);
  }
  .container:hover .overlay {
    opacity: 0.8;
  }
  .text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
/* Tablet Styles */
@media only screen and (min-width: 480px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
 
 
/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 33.3%;
      max-width: 33.3%;
    }
}


  button{
      width: fit-content;
      padding: 20px;
      color: #fff;
      background: #000000;
      margin: 50px auto;
      display: block;
      cursor: pointer;
    font-family: 'Righteous', cursive;
  }
  a{
      text-decoration: none;
  }
  