body{
    background: #000000;
}
h1{
    padding: 50px 0;
    margin: auto;
    width: fit-content;
    color: #fff;
    font-family: 'Righteous', cursive;
}

.grid {
    overflow: hidden;
      padding: 0.5em 0 0 0.5em;
      max-width: 76em;
      margin: 0 auto;
  }
  .grid li {
      padding: 2em;
  }
  .grid li > div {
      border-radius: 10%;
      background: #000000;
      padding: 7em 2em;
      text-align: center;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      box-shadow: rgb(148, 148, 148) -15px 15px 15px -10px;
  }
  .grid li a {
      color: #fff;
      text-decoration: none;
      font-family: 'Righteous', cursive;
  }
  .grid li a:hover{
      color: rgb(241, 117, 117);
  }
  .grid li > div:hover{
    box-shadow: rgb(241, 117, 117) -15px 15px 15px -10px;

  }
  
  @media all and (min-width: 27em) {
      .grid li {
          width: 50%;
          float: left;
      }
  }
  
  @media all and (min-width: 40em) {
      .grid li {
          width: 33.3333333%;
      }
      .grid li.wide {
          width: 66.666666%;
      }
  }
  @media all and (min-width: 60em) {
      .grid li {
          width: 25%;
      }
      .grid li.wide {
          width: 50%;
      }
  }